[2019-10-24 09:19] fakhrihawari commented on #291
https://github.com/fakhrihawari/ngm-reportHub/tree/fix-bug-so2

[2019-10-25 08:49] dondippino opened #292 "Add new organization Secours Islamique France (SIF) to ReportHub"
A new organization called SIF has been submitted by the WASH sector Nigeria to be added to ReportHub. I have already added this organization to the organizations.csv file. Please help update the database with this new record.

[2019-10-25 09:14] drfaustusfade commented on #292
updated

[2019-10-25 09:17] dondippino commented on #292
Thanks a lot

[2019-10-25 09:17] #292 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2019-10-27 04:50] pfitzpaddy commented on #278
- [x] Planned Beneficiaries Page (per distribution)
- Fetch Data
    - IF none display file upload (maximised)
- ELSE
    - Summary
        - Duplications
        - Family Size 1-3
        - Family Size 4-7
        - Family Size 8-11
        - Family Size 11+
        - Total
- Upload (minimized)
- Duplications (minimized)
- Data (maximised)

[2019-10-27 04:52] pfitzpaddy commented on #277
GFD Running Notes

Beneficiary Lists
- Planned lists have inconsistencies
    - i.e. FCN Duplications in SCI list (fcn_id:'104387'), but not same beneficiary
    - i.e. SCI labels are updated
    - i.e. RIC has additional column
- Update Sub Block
    - Brac
    - SCI
- Solution
    - New template (don't update!)

Add Admin Layers
- Add 2 GFD
    - Camp 19
    - Modhurchora
- Add Blocks for
    -

[2019-10-27 04:53] pfitzpaddy opened #293 "Add Admin Camp Sub Blocks"
Add Admin Layers
- [ ] Add 2 GFD
    - Camp 19
    - Modhurchora
- [ ] Add Blocks for
    - NRC
    - 20Ext
    - 04Ext
- [ ] Add Sub Blocks

[2019-10-27 16:39] pfitzpaddy commented on #278
[code]

[2019-10-29 04:17] pfitzpaddy opened #294 "ReportHub Header Skin"
ReportHub is not looking as juicy as it should be. I propose we change the header style to match the [Angular Material Design](https://material.angular.io/components/categories) style, rough sample below. Thoughts?
![ReportHub-skin](https://user-images.githubusercontent.com/1784705/67737375-17bd3f80-fa35-11e9-8521-f06c59b30e74.png)

[2019-10-29 04:23] pfitzpaddy commented on #294
Seems ok on landing page too.... (not sure if its overkill)
![ReportHub-skin-landing](https://user-images.githubusercontent.com/1784705/67737620-1b04fb00-fa36-11e9-80fe-552da4a9d34f.png)

[2019-10-29 05:17] fakhrihawari commented on #294
i think we need to change the color of download button

[2019-10-29 08:07] fakhrihawari commented on #92
this is what i did to change it materilize 1.0.0
https://github.com/fakhrihawari/ngm-reportHub/tree/move-version-materilize

liitle update for ngm-dashboard-framework
https://github.com/fakhrihawari/ngm-dashboard-framework

[2019-10-29 09:20] pfitzpaddy commented on #278
'Bagghona': 'bagghona', // RIC
	'Balukhali 01': 'balukhali_1', // WVI
	'Balukhali 02': 'balukhali_2', // WVI
	'Burmapara': 'burma_para', // SCI
	'Camp 17': 'camp_17', // SCI
	// 'Camp 19': '', // SCI
	'Camp 20Ext.': 'camp_20_ext', // SCI
	'Camp 4Ext.': 'camp_4_ext', // SCI
	'Hakimpara': 'hakimpara', // RIC
	'Jadimura': 'jadimura', // AAH
	'Jamtoli': 'jamtoli', // RIC
	'Lambasia': 'lambashia', // B

[2019-10-30 04:29] fakhrihawari commented on #294
<img width="1680" alt="Screen Shot 2019-10-30 at 11 29 13" src="https://user-images.githubusercontent.com/12655589/67829130-8b7c4c80-fb08-11e9-9e3e-6e5c35ba6a0a.png">

[2019-10-31 04:10] fakhrihawari commented on #92
Note: that need to update if we want to move/change to materialize 1.0.0
1. Modal
2. Input checkbox
3 Datepicker
4.floating action for download
5. carousel
6. toast
7. material_select()

[2019-10-31 05:22] pfitzpaddy commented on #294
Ok, not sure just yet on this one just yet, we can hold for now and discuss when we meet in December.

[2019-11-03 17:40] pfitzpaddy commented on #277
GFD Planning Beneficiaries ToDo;
- [ ] Make new template for partners
- [ ] Add Camp 19
- [ ] Add camp blocks / sub blocks

[2019-11-04 04:03] pfitzpaddy commented on #277
**Proposed Template**
`SL # | Org | District | Upazilla | Union | GFD Point Name | Camp Name | Zone | Block | Sub Block | Majee | Majee Cell Number | HH Name | F/H Name | Scope Card # | GFD ID | FCN # | Govt. ID / MOHA # | Gender | HH Age | Females Total | Males Total | Female Under 5 | Male Under 5 | Female 5-17 | Male 5-17 | Female 18-49 | Male 18-49 | Female 50+ | Male 50+ | Family Size Total |

[2019-11-07 05:07] #277 closed, assigned to pfitzpaddy

[2019-11-08 04:18] fakhrihawari commented on #291
Can i make pull request for this?

[2019-11-08 22:32] snavarreteimmap opened #295 "Update activities.csv with new Health (Salud) Cluster COL activities"
Update activities.csv

[2019-11-10 19:47] drfaustusfade commented on #295
updated on PROD

[2019-11-10 20:05] drfaustusfade commented on #291
on new project if strategic_objectives_check is null it will through error
I think not needed year can be removed on year update, and therefore it will simplify logic a bit

[2019-11-11 03:29] pfitzpaddy commented on #291
For Afghanistan, we could move to the approach of having the Strategic / Sector objectives defined in the activities.csv. The issue with this is that it would require some coordination and effort directly with the partners - so im not sure how possible that is. However, for each activity we can define `strategic_objective_id` | `strategic_objective_name` | `strategic_objective_description` | `sect

[2019-11-11 08:32] pfitzpaddy commented on #276
complete (with kobo triggers)

[2019-11-11 08:32] #276 closed, assigned to pfitzpaddy

[2019-11-11 13:53] pfitzpaddy commented on #277
Error produced by Mongo on find().sort()
`MongoError: getMore executor error: Overflow sort stage buffered data usage of 33555432 bytes exceeds internal limit of 33554432 bytes`
Solved by adding index to sort column
`db.getCollection('plannedbeneficiaries').createIndex({ fcn_id: 1 });`

[2019-11-13 23:16] drfaustusfade opened #296 "MPC: fix various databugs"
- [x] 1. Fix bug were all report's activities have the cluster of report
- [x] clean data resulted in 1.
- [x] 2. changing activity should clear mpc related data
- [x] clean data resulted in 2.
- [x] 3. clean various cash related databugs

[code]
[code]

[2019-11-13 23:42] drfaustusfade commented on #296
https://github.com/pfitzpaddy/ngm-reportHub/pull/314

[2019-11-14 09:38] fakhrihawari commented on #291
link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/316/files

[2019-11-14 10:35] pfitzpaddy commented on #291
merged

[2019-11-14 10:35] #291 closed, assigned to fakhrihawari, drfaustusfade

[2019-11-19 23:15] drfaustusfade opened #297 "Update projects download functionality"
- [x] query project date by overlap with request query date range
[code]
- [x] query multicluster projects
- [x] add beneficiary, target beneficiaries, main cluster totals
- [x] add project url

[2019-11-19 23:15] drfaustusfade commented on #297
https://github.com/pfitzpaddy/ngm-reportEngine/pull/152

[2019-11-19 23:50] drfaustusfade commented on #297
@sebasnavarreteImmap fyi

Functionality updates:
1. query if project date and date range overlap rather than if project dates contained in the range so that projects that are active on date range but with start/end dates outside of it are not excluded
2. query other cluster projects that contain requested cluster activities, so that cluster-admin could see multicluster projects with their cluster

[2019-11-21 14:47] drfaustusfade opened #298 "X-Forwarded-Proto https"
update nginx config to forward request's protocol header to sails backend for 443
[code]

[2019-11-23 12:06] #278 closed, assigned to pfitzpaddy

[2019-11-23 12:44] pfitzpaddy opened #299 "GFD Reporting Workflow Updates"
Reporting Workflow Updates;

Update Food Distribution Plan / Achievements Downloads
- [x] Add Upazilla, Union
- [x] Update column order / names as "Date (YYYY-MM-DD)", "Implementing Partner", "Distribution Point", "Camp", "Block", "Sub Block", "Majhee Name", "Upazilla", "Union", "1 to 3", "4 to 7", "8 to 10", "11+", "HH Total", "Rice", "Lentils", "Oil", "Total", "Longitude", "Latitude"
- [x] Updat

[2019-11-24 06:24] pfitzpaddy opened #300 "Convert Daily GFD Achievements to monthly ReportHub progress"
Run batch script to convert from ngmWfpGfa to ngmHealthCluster

[2019-11-26 09:12] dondippino opened #301 "Add new organization (Agaji Global Unity Foundation) to ReportHub"
A new organization called Agaji Global Unity Foundation (AGUF ) has been submitted by the WASH sector Nigeria to be added to ReportHub. I have already added this organization to the organizations.csv file. Please help update the database with this new record.

[2019-11-26 10:44] drfaustusfade commented on #301
Updated

[2019-11-26 10:44] #301 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2019-11-29 11:28] dondippino opened #302 "Add new organization (Initiative for Reconstruction and Resettlement) to ReportHub"
A new organization called Initiative for Reconstruction and Resettlement (IRR) has been submitted by the WASH sector Nigeria to be added to ReportHub. I have already added this organization to the organizations.csv file. Please help update the database with this new record.

[2019-11-29 15:30] drfaustusfade commented on #302
Updated

[2019-11-29 15:30] #302 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2019-11-29 21:19] drfaustusfade opened #303 "clean up AYUUB organization_tag"
there was the same problem in AF;
organization_tag was set incorrectly due to a bug on some stage before
updated with next querries
[code]

[2019-11-30 06:41] pfitzpaddy commented on #303
@drfaustusfade, I see the PROD is now updated, if yes feel free to close this and thanks alot!

[2019-11-30 09:30] #303 closed, assigned to nobody

[2019-11-30 12:08] dondippino commented on #302
Thank you very much

[2019-12-03 07:55] #299 closed, assigned to pfitzpaddy

[2019-12-03 14:00] dondippino opened #304 "Add new organization (Taimako community development initiative) to ReportHub"
A new organization called Taimako community development initiative (TCDI) has been submitted by the WASH sector Nigeria to be added to ReportHub. I have already added this organization to the organizations.csv file. Please help update the database with this new record.

[2019-12-03 14:39] drfaustusfade commented on #304
Updated

[2019-12-03 14:39] #304 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2019-12-04 12:16] dondippino opened #305 "Add new organization (Olive Care Foundation) to ReportHub"
A new organization called Olive Care Foundation (OCF) has been submitted by the WASH sector Nigeria to be added to ReportHub. I have already added this organization to the organizations.csv file. Please help update the database with this new record.

[2019-12-04 13:54] dondippino opened #306 "**URGENT** Save button on Monthly Reporting page clears form on save"
There is a bug on the Monthly Reporting Page for WASH Nigeria. All entries for beneficiaries on the form are wiped off once the 'Save' button (at the top right of the panel) is clicked for a single activity. We have to give this issue priority as partners are already reporting.

[2019-12-04 16:14] drfaustusfade commented on #306
on report save: associations are saved but not populated after create/update resulting in them being empty, as quick workaround, adding findOne with populateAll query after create/update, as update does not have populateAll method, meaning that additional hit on db on each beneficiary...
https://github.com/pfitzpaddy/ngm-reportEngine/pull/157

[2019-12-04 16:19] drfaustusfade commented on #305
updated

[2019-12-04 17:19] dondippino commented on #306
That is great and thank you for the quick fix. I am thinking of a simpler approach to this issue, I think the 'Save' button at the base of the form persists the precise state of the form at any given time. Hence the 'Save' buttons on the panels might not be needed since the other 'Save' button does the job perfectly.

[2019-12-04 17:27] #305 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2019-12-05 11:36] drfaustusfade commented on #306
It could be an idea to review record level save, then we would need to research into user interactions, but from my experience what I noticed usually users use it heavily

[2019-12-09 04:23] pfitzpaddy commented on #131
Bumping this issue, I think we should make a first start on this for the more basic lists, eventually tackling the more difficult issue of activities.

1. To begin, there should be an Admin landing page @ #/cluster/admin
**Note**: the **Access** conditions are specified above in the first comment of this issue
![sketch](https://user-images.githubusercontent.com/1784705/70407066-19831580-1a6d-11ea-

[2019-12-09 04:27] pfitzpaddy commented on #131
I recommend @fakhrihawari to take a look at this, unless you have other pressing issues. Any questions or clarifications contact Skype group Alpha at any time.

[2019-12-09 05:06] drfaustusfade commented on #131
next on the list to tackle, after there is rtl support almost implemented, the good thing @fakhrihawari worked on it and did many things, the plan is to start with beneficiary types
I support the idea of the practice of committing early and often

[2019-12-10 06:57] fakhrihawari commented on #131
@pfitzpaddy  and @drfaustusfade  so what should we call this admin "master"?

[2019-12-10 08:29] fakhrihawari commented on #131
Init :
https://github.com/fakhrihawari/ngm-reportHub/tree/admin-list-2.0

[2019-12-14 03:23] #306 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2019-12-14 03:28] pfitzpaddy commented on #131
Adding another page we might want to add during this admin development -> **APIs**.
The API card would load a page with lists of APIs and the params. This would be useful for the IMOs to access data. This is low priority and not urgent. With APIs, we should also look into adding a key param for security or including something for authentication - whatever we choose it would have to also work with

[2019-12-18 03:13] fakhrihawari commented on #131
Are beneficiary types and beneficiaries the same things?
Cause in the task above just mention the detailed task about beneficiaries, not detailed task about the beneficiary type

[2019-12-18 04:20] drfaustusfade commented on #131
In the task it’s the same, beneficiary type in RH is population group to provide services, meaning people, beneficiaries are also people served in general, hence the confusion, also it can be viewed as subclass of beneficiaries

[2019-12-19 04:10] pfitzpaddy commented on #131
**APIs Page** -> Could be a page that also generates API key for user.

[2020-01-05 07:51] drfaustusfade opened #307 "Beneficiary SADD form fields configuration"
groups: sadd_b_5_11_17_m_em_t, sadd_g_5_11_17_w_ew_t, sadd_bgmw, sadd_bgmw_em_ew, sadd_school, sadd_b_6_12_17_24, sadd_g_6_12_17_24

proposal is to update to something like this
in activities.csv
![chrome_2020-01-05_12-00-18](https://user-images.githubusercontent.com/29349472/71776666-3bf84800-2fb3-11ea-9ef3-b415907070df.png)
and then in the form html
```ng-if="( ngmClusterBeneficiaries.form[ $loc

[2020-01-07 05:37] pfitzpaddy commented on #92
@fakhrihawari, if possible could you take another look at this, as I have completed the [new module for CXB](https://github.com/pfitzpaddy/ngm-reportHub/blob/master/app/scripts/modules/country/bangladesh/cxb/gfd/app.js) that will also need to go to latest version of Materialize.

There is also a hack for [a modal datepicker](https://github.com/pfitzpaddy/ngm-reportHub/blob/master/app/scripts/widge

[2020-01-07 07:56] fakhrihawari commented on #92
okay I will try to take a look it

[2020-01-08 04:23] fakhrihawari commented on #92
like this?
<img width="1648" alt="Screen Shot 2020-01-08 at 11 22 34" src="https://user-images.githubusercontent.com/12655589/71950300-457aed80-3209-11ea-8260-3b02bf385b4b.png">

[2020-01-08 04:24] pfitzpaddy commented on #92
perfecto

[2020-01-09 03:00] fakhrihawari commented on #92
![demo-datepicker-new (1)](https://user-images.githubusercontent.com/12655589/72034121-bb915a00-32c6-11ea-9c15-cfdeda740836.gif)

https://github.com/fakhrihawari/ngm-reportHub/tree/move-version-materilize

[2020-01-10 08:40] pfitzpaddy opened #308 "Migrate ReportHub to new Server 8 CPUs and 64GB RAM"
We will upgrade to new server. @fakhrihawari, can you design a maintenance page? We will then;
1) Set nginx to point to maintenance HTML page
2) Take image of current server
3) Update domain name to point to new IPs (reporthub, 4wplus.org)
4) Restore image in new server, with 8 CPUsand 64GB RAM

Maintenance page could be similar to the HTML splash screen page you have already created. with a messa

[2020-01-10 10:28] fakhrihawari commented on #308
Okay, I'll try

[2020-01-13 04:03] fakhrihawari commented on #308
mock up maintanance page
version 1
<img width="1680" alt="Screen Shot 2020-01-13 at 10 39 22" src="https://user-images.githubusercontent.com/12655589/72232537-4ab6ae80-35f4-11ea-9714-ccf959150bb7.png">

Version 2
<img width="1679" alt="Screen Shot 2020-01-13 at 11 02 53" src="https://user-images.githubusercontent.com/12655589/72232546-53a78000-35f4-11ea-8f57-21331867553f.png">

Version 3
<img widt

[2020-01-13 05:39] pfitzpaddy commented on #308
My vote is for version 2, @drfaustusfade ?

[2020-01-13 06:55] drfaustusfade commented on #308
I like version 2

[2020-01-13 07:05] fakhrihawari commented on #308
Do i need to make separate folder for this or just  update the the old maintanance page?

[2020-01-15 04:07] fakhrihawari commented on #308
Link branch for maintenance page:
https://github.com/fakhrihawari/ngm-reportHub/tree/maintenance-page

[2020-01-15 15:11] dondippino opened #309 "Enable delivery type for WASH sector Nigeria"
The WASH sector has requested for a field to capture 'Planned' and 'Completed' status of activities. I have implemented something to this effect some months ago and this feature can simply be turned on with the mongo command below:

`db.activities.updateMany({admin0pcode: 'NG',cluster_id: 'wash'}, {$set:{beneficiary_category_type_id: NumberInt(0), beneficiary_delivery_type_id: NumberInt(1)}})`

[2020-01-15 18:46] drfaustusfade commented on #309
updated, should activities csv be updated also?
[code]

[2020-01-16 03:30] dondippino commented on #309
Thank you very much, it works.

[2020-01-16 03:30] #309 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2020-01-16 05:06] pfitzpaddy commented on #308
Thanks @fakhrihawari, we will use this when we upgrade. @drfaustusfade, ideas on when would be a good time for that? Im back to desk from Jan 21, perhaps a Saturday morning our time?

[2020-01-16 05:13] pfitzpaddy commented on #308
The closest Saturday would be Jan 25

[2020-01-16 05:25] drfaustusfade commented on #308
24-25 Jan weekend could work best, there are going to be trainings on 22-23 and first week of Feb

[2020-01-16 05:30] pfitzpaddy commented on #308
Ok great, ill inform the all knowing Budi of our intentions....

[2020-01-16 09:26] pfitzpaddy commented on #92
I have made some minor CSS updates with the new materialize. There are a few minor issues listed below before we update to PROD;
1. When you click on an input (focus) and then click out, the input is given red border-bottom
![rh_css_invalid](https://user-images.githubusercontent.com/1784705/72510884-29b8bc80-3885-11ea-8d66-4ab455f0ca6c.png)
2. Inputs have issue when error. The labels go small and

[2020-01-16 09:42] pfitzpaddy commented on #92
This is what a completed project looks like
![rh_css_completed](https://user-images.githubusercontent.com/1784705/72512927-874e0880-3887-11ea-87a9-b78e477c4df7.png)

[2020-01-17 04:02] fakhrihawari commented on #92
PR for fix:
https://github.com/pfitzpaddy/ngm-reportHub/pull/323

[2020-01-20 10:32] drfaustusfade opened #310 "Update Target Location Interface from xeditable to Forms"
- [x] update from xeditable to materialize form
- [x] update order of fields, sitetype, implementingsitetype default +depending on activity clusters
- [x] _site from list_ yes/no field depending if adminsites exists, the same logic but should appear or not rather then disabled, so that no need for country condition, and more generalized
- [x] looking for other alternatives to yes/no dropdown, that

[2020-01-20 10:39] #297 closed, assigned to drfaustusfade

[2020-01-21 04:09] fakhrihawari commented on #310
for old materializecss
https://github.com/fakhrihawari/ngm-reportHub/tree/change-location-in-detail
for materializecss 1x
https://github.com/fakhrihawari/ngm-reportHub/tree/check-error-for-materialize-100

[2020-01-21 09:40] fakhrihawari commented on #310
How it will look like:
<img width="1278" alt="Screen Shot 2020-01-21 at 16 38 12" src="https://user-images.githubusercontent.com/12655589/72793017-7e38af00-3c6c-11ea-9aee-751ecace2d13.png">

<img width="1190" alt="Screen Shot 2020-01-21 at 16 39 55" src="https://user-images.githubusercontent.com/12655589/72793155-b04a1100-3c6c-11ea-8d95-47563f455fec.png">

[2020-01-22 04:33] pfitzpaddy commented on #310
We will need to test Target Locations for;
- [x] Afghanistan
- [ ] Colombia
- [ ] Ethiopia
- [ ] Somalia
- [ ] Nigeria

Im guessing that the current implementation for Afghanistan is based on the implementation for Cox's Bazar?

[2020-01-22 04:35] fakhrihawari commented on #310
Yes

[2020-01-22 04:38] pfitzpaddy commented on #310
Nice work. Can you tick off the countries that you deem to be working. Meanwhile I will commit the upgrade to Materialize 1.x today

[2020-01-22 04:51] drfaustusfade commented on #310
We were planning to update for AF first, and then others if they test it ok, but they mostly the same, NG has from list selection, which was included, also higher admins, implementation fields based on old ones

[2020-01-22 04:52] pfitzpaddy commented on #310
Oh yes, good point. We can commit Afghanistan first with others using old approach until they are tested / moved over....

[2020-01-22 11:44] pfitzpaddy commented on #310
If all good for AF, you can make a pull request for the 1.x

[2020-01-22 11:48] pfitzpaddy commented on #92
Updated on DEV and PROD

[2020-01-22 11:48] #92 closed

[2020-01-22 13:16] drfaustusfade commented on #131
PROPOSAL/DISCUSSION for admin lists structure
----
The **main idea** is to organize all lists by **Response Plan**

Page for country admin/cluster admin would include:
Global lists for view, Country lists (Organizations, Admins, ...), Plans

Plans -> List of Plans -> Plan Def & List of Clusters -> Plan Cluster lists ( Cluster...Beneficiary types, Activities, Donors, Site Types, Site Implementation

[2020-01-23 06:26] pfitzpaddy commented on #257
Hey @fakhrihawari, when you have a moment can you please take your maintenance page and make a 403.html page in the same folder. This page will be displayed on `sudo gulp` build. Currently, If a user visits ReportHub when `sudo gulp` is building, the NGINX default 403 page is displayed.

You can use the same style as the maintenance page
<img width="1679" alt="72232546-53a78000-35f4-11ea-8f57-2133

[2020-01-23 06:29] fakhrihawari commented on #257
okay

[2020-01-23 08:28] pfitzpaddy commented on #308
We are having some issues upgrading the server with an image of the existing ReportHub.

Current Amazon Machine Image: t2.large
Target Amazon Machine Image: r5a.2xlarge

Some notes from AWS resize are below;
- https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-resize.html
- https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-migrate.html

If anyone finds out some useful informati

[2020-01-24 07:36] fakhrihawari commented on #257
version 1
<img width="1680" alt="Screen Shot 2020-01-24 at 14 35 18" src="https://user-images.githubusercontent.com/12655589/73052091-d9f67880-3eb6-11ea-9f2a-399a36bcc77e.png">

version 2
<img width="1680" alt="Screen Shot 2020-01-24 at 14 37 18" src="https://user-images.githubusercontent.com/12655589/73052179-0dd19e00-3eb7-11ea-903a-5ddf4b18075e.png">

[2020-01-24 13:58] pfitzpaddy commented on #257
Version 2 is cool, tho I vote for version 1

[2020-01-24 15:48] dondippino opened #311 "Bug in the 'details' feature on the Monthly Reporting form"
There seems to be a little bug with the 'details' feature on the Monthly Reporting page when there are multiple locations.
When 'details' dropdown is selected for a location, it  clears the selected item in the previous location (if any) and instead switches the select options to the most recent selection.
I have tried to resolve it, but I need other persons' perspective in resolving this.
I have

[2020-01-26 08:54] pfitzpaddy commented on #311
![details_bug_reporthub](https://user-images.githubusercontent.com/1784705/73132899-97b27000-404b-11ea-8289-c2d5329e0f8a.gif)

[2020-01-27 03:59] fakhrihawari commented on #257
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/12655589/73149453-17941500-40f4-11ea-987a-81b79c725963.gif)

[2020-01-27 04:03] pfitzpaddy commented on #257
Ok, lets merge that one

[2020-01-27 04:06] fakhrihawari commented on #257
link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/326

[2020-01-27 04:09] pfitzpaddy commented on #257
Merged

[2020-01-27 04:09] #257 closed, assigned to pfitzpaddy, fakhrihawari

[2020-01-27 14:48] drfaustusfade commented on #311
https://github.com/pfitzpaddy/ngm-reportHub/pull/328
Proposal:
1 using materialize-select watch
2 initDetails run only on current beneficiaries
3 selects would update on each select change

**Please check and test**

[2020-02-10 11:18] pfitzpaddy opened #312 "ReportHub - font-color issue on forms"
On initial form load, font-color is green, needs to be black.
![ReportHub_font-color_issue](https://user-images.githubusercontent.com/1784705/74145497-2963d500-4c29-11ea-91a8-c3c71c786efc.png)

[2020-02-11 10:15] fakhrihawari commented on #312
Ok, I will fix it

[2020-02-11 11:29] drfaustusfade opened #313 "Remove FATP Treatment Same Province from forms"
![chrome_2020-02-11_15-53-59](https://user-images.githubusercontent.com/29349472/74232779-1a435c80-4ce7-11ea-8601-120dcf031878.png)
- [x] remove treatment same province both beneficiaries and target beneficiaries
- [x] moved to activity details

[2020-02-11 11:48] pfitzpaddy opened #314 "Make ReportHub modals sexy again...."
Modal are looking tired and lame.
![ReportHub_modals](https://user-images.githubusercontent.com/1784705/74233864-bf653180-4cf5-11ea-8325-f8b3fc51d5b3.png)

**Tasks**
- [x] Update the buttons to be confirm on left, cancel on right
- [x] Update the confirm button to be normal button, cancel button to be flat button
- [x] Make the modals to be sexy again, samples below but @fakhrihawari go for someth

[2020-02-12 01:52] fakhrihawari commented on #312
link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/342

[2020-02-12 02:22] pfitzpaddy commented on #312
Merged

[2020-02-12 02:22] #312 closed, assigned to pfitzpaddy, fakhrihawari

[2020-02-12 04:13] fakhrihawari commented on #314
<img width="1035" alt="Screen Shot 2020-02-12 at 11 12 47" src="https://user-images.githubusercontent.com/12655589/74302304-a5c0fa00-4d88-11ea-96b3-7ed704a2bfc3.png">

Like this?

[2020-02-12 04:18] pfitzpaddy commented on #314
Perfect

[2020-02-12 06:33] fakhrihawari commented on #313
Link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/343

[2020-02-12 06:38] pfitzpaddy commented on #313
Merged

[2020-02-12 06:38] #313 closed, assigned to fakhrihawari, drfaustusfade

[2020-02-12 08:07] fakhrihawari commented on #314
Link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/344

[2020-02-12 08:53] pfitzpaddy commented on #314
Merged

[2020-02-12 08:53] #314 closed, assigned to pfitzpaddy, fakhrihawari, drfaustusfade

[2020-02-12 09:24] drfaustusfade opened #315 "AF HRP Population types selection"
by request of OCHA to add common _HRP beneficiary types_ selection in forms for HRP projects, as cluster ones could be different than for hrp, and they prefer selection rather than automatic mapping, even though a bit might be a bit of duplication of effort

[2020-02-14 02:32] fakhrihawari commented on #315
Link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/346
https://github.com/pfitzpaddy/ngm-reportEngine/pull/165

[2020-02-16 03:00] pfitzpaddy commented on #315
This is up there with OCHA's request to put SO's and CO's on the Project Plan (instead of them being driven by the data - the Target Beneficiaries activities). A great example of OCHA's total lack of understanding of anything....

[2020-02-16 03:00] #315 closed, assigned to fakhrihawari, drfaustusfade

[2020-02-16 18:24] drfaustusfade opened #316 "AF MPC 2020"
- unconditional cash interventions, with multi-sectoral objectives under MPC
- sector specific interventions using unconditional cash to meet ONE sectors’ objective under that specific sector

[2020-02-16 18:26] drfaustusfade commented on #316
- [x] Remove _Cash intended for_ section as it's not going to be used
![chrome_2020-02-16_22-54-26](https://user-images.githubusercontent.com/29349472/74610279-69d2bf80-510f-11ea-8934-05d141aed80d.png)

[2020-02-17 01:36] fakhrihawari commented on #316
Link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/348

[2020-02-17 02:54] pfitzpaddy commented on #316
Merged

[2020-02-17 02:54] #316 closed, assigned to fakhrihawari, drfaustusfade

[2020-02-17 04:52] drfaustusfade commented on #316
cash form label updates:
**Delivery**: should be changes to:  **Implementation modality**

**Mechanism** to: **Transfer mechanism**

_Amount: Please enter the amount per HOUSEHOLD ( HH ) per Transfer_

To be changed to:  _Transfer Value/amount : Please enter the amount per HOUSEHOLD ( HH ) per Transfer_

_Transfers: Please enter the TOTAL number of planned transfers for the ENTIRE project_

To be

[2020-02-18 13:18] drfaustusfade opened #317 "AF Location Implementing Partners Update"
As programme partners usually report for some implementing partners, request for more granular control on monthly progress; though location-based control on the project plan is mostly enough and covers the case, additional info is needed to be shown on locations with IP, and also requested to be added in location for editing or in beneficiary forms like in interface prototype below(thanks Fakhri);

[2020-02-18 13:25] drfaustusfade opened #318 "AF Supporting Organizations"
As some Implementing partners prefer to report themselves, request to add Supporting Organization (Supporting Partners, Programme Partners ) selection to project definition; usually, it's only one organization, but for corner cases to keep it multiselect as Implementing Partners selection as on interface prototype (thanks Fakhri); common for all project, location, beneficiaries.

- [x] add Program

[2020-02-18 13:26] drfaustusfade commented on #239
Related feature requests
https://github.com/pfitzpaddy/ngm-reportDesk/issues/317
https://github.com/pfitzpaddy/ngm-reportDesk/issues/318

[2020-02-19 03:39] pfitzpaddy commented on #318
This is looking good, and a nice and simple solution. A couple of minor proposals below to match the terminology of "Programme Partner" and "Implementing Partner" strictly;

1) In Project Details, provide the option to indicate if the project is either;
- [x] Programme Partner (in which case Implementing Partner drop down becomes available)
- [x] Implementing Partner (in which case Programme Partn

[2020-02-19 03:41] pfitzpaddy commented on #317
- [x] Display "Implementing Partners" dropdown on Monthly Progress Report IF Project Details is marked as "Programme Partner"?

[2020-02-19 06:48] drfaustusfade commented on #318
Good points, thank you
for 1. to cover cases of intermediate organizations that might have both programme partner and implementing partners, they preferred to have both selections, but one selection would be a cleaner approach

[2020-02-19 06:54] pfitzpaddy commented on #318
Yes for 1) we can make that checkbox so both can be selected

[2020-02-19 07:49] drfaustusfade opened #319 "Project Plan: Form Validation"
with the same approach https://github.com/pfitzpaddy/ngm-reportDesk/issues/236

[2020-02-20 08:09] fakhrihawari commented on #317
Link PR:
https://github.com/pfitzpaddy/ngm-reportEngine/pull/167
https://github.com/pfitzpaddy/ngm-reportHub/pull/354

[2020-02-20 08:10] fakhrihawari commented on #318
Link PR:
pfitzpaddy/ngm-reportEngine#167
pfitzpaddy/ngm-reportHub#354

[2020-02-20 08:11] pfitzpaddy commented on #318
Merged

[2020-02-20 08:11] pfitzpaddy commented on #317
Merged.

[2020-02-20 08:22] pfitzpaddy commented on #318
I dont see `implementing partners` anymore? Did I not load it correctly or has `implementing partners` been removed from Project Details.
<img width="829" alt="Screen Shot 2020-02-20 at 2 16 59 pm" src="https://user-images.githubusercontent.com/1784705/74914276-5d3eb780-53ec-11ea-9cc4-31f6ec8b79c3.png">

In Project Details, partners should have the option of indicating that they are either "Progra

[2020-02-20 08:23] pfitzpaddy commented on #318
For the occasions where an `implementing partner` is reporting so they can indicate the Programme Partner(s).

[2020-02-20 08:33] drfaustusfade commented on #318
It should be in update

[2020-02-20 08:33] fakhrihawari commented on #318
Is it AF project ?

[2020-02-20 08:36] pfitzpaddy commented on #318
This is CB project. Option for 1) Programme Partner & 2) Implementing Partner should be default on all project details (Implementing Partner at the location level can be for AF ONLY for time being).

[2020-02-20 08:37] fakhrihawari commented on #318
Okay I will put it for All country

[2020-02-20 08:43] fakhrihawari commented on #318
link PR for update  :
 https://github.com/pfitzpaddy/ngm-reportHub/pull/355

[2020-02-20 08:48] pfitzpaddy commented on #318
Thanks @fakhrihawari. When Programme Partners is selected, can you please update list of Implementing partners to be the same as the dropdown + checkbox style (highlighted in purple square below) that you have implemented for Programme Partner dropdown?
![reporthub_downdown_select](https://user-images.githubusercontent.com/1784705/74916405-fcb17980-53ef-11ea-8923-6142b2b355a5.png)

It would be con

[2020-02-20 08:59] fakhrihawari commented on #318
Yes, I can make the  List of Implementing partners like Programme Partner dropdown.
And for Donor,  I will try it first and share the mock-up to you all first

[2020-02-20 09:01] drfaustusfade commented on #318
With donors it would be alright, but the problem is that users struggle here with typein select interface, so that betters to keep their life easier and use checkboxes for donors, maybe we can add such for donor other option with all other donors

[2020-02-20 10:32] pfitzpaddy commented on #318
@drfaustusfade i agree

[2020-02-21 02:10] fakhrihawari commented on #318
<img width="1229" alt="Screen Shot 2020-02-21 at 09 08 24" src="https://user-images.githubusercontent.com/12655589/74997903-d7714980-5489-11ea-9e14-caa9b3e88742.png">

[2020-02-21 02:12] fakhrihawari commented on #318
Link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/356

[2020-02-26 02:02] fakhrihawari commented on #319
Link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/360

[2020-02-27 05:02] pfitzpaddy opened #320 "Project Details Load Time"
Is it just me or does the Project Details sometimes take way too long to load? I think its on the initial loading of that project in a particular session....
![rh_page_load](https://user-images.githubusercontent.com/1784705/75413716-8614fe80-5950-11ea-9e84-bb03f42ce8fa.png)

[2020-02-27 06:37] fakhrihawari commented on #320
Yes, I feel the same

[2020-02-27 06:47] drfaustusfade commented on #317
The partners cannot handle the logic: project partner > list implementing partners, implementing partners > list programme partner
To keep it simple
Implementing Partners? > list implementing partners, Programme Partners? > list programme partners

[2020-02-27 07:33] pfitzpaddy commented on #317
Yes! I agree... thats perfect.

[2020-02-27 07:33] pfitzpaddy commented on #317
I will update this now

[2020-02-27 07:34] pfitzpaddy commented on #320
@fakhrihawari can you please take a look when you have time.

[2020-02-27 07:48] drfaustusfade opened #321 "Some UI glitches"
sometimes partners have problems with next which resolves after reload:
to check:
- [x] after saving project/monthly report next page will have the height of project/monthly report scrolled down
- [x] scroll bar not appearing and page stuck
- [x] very rarely buttons for modals not working
- [x] the login form is stretched out of page on navigation ( try register then login )

[2020-02-27 08:10] fakhrihawari commented on #320
From what I read :
https://stackoverflow.com/questions/36764414/slow-performance-with-angular-material-md-select-and-ng-repeat

I think the md-select that made the load slow

[2020-02-27 08:30] pfitzpaddy commented on #320
@fakhrihawari could you please see if the solutions listed can get some performance improvements

[2020-02-27 08:51] drfaustusfade commented on #320
please check if github.com/pfitzpaddy/ngm-reportHub/pull/363 helps

[2020-02-27 08:57] pfitzpaddy commented on #320
I didnt notice much improvement with that PR. It looks as tho the getProject requests do return in a timely fashion - but the mask is not removed.

[2020-02-27 09:24] drfaustusfade commented on #320
and this https://github.com/pfitzpaddy/ngm-reportHub/pull/364
this should solve frozen loader when angular not picking up changes

[2020-02-27 10:12] pfitzpaddy commented on #320
Im thinking the timing is more consistent now.... it seems.

[2020-02-27 10:49] fakhrihawari commented on #320
So now it solved?

[2020-02-27 10:50] pfitzpaddy commented on #320
Yes, it looks like it. I will close

[2020-02-27 10:50] #320 closed, assigned to pfitzpaddy, fakhrihawari, drfaustusfade

[2020-02-28 01:51] fakhrihawari commented on #321
For this "after saving project/monthly report next page will have the height of project/monthly report scrolled down" i have it some time . But i still don't know how to recreate this condition to find the bug. Because it is rarely happen

[2020-02-28 10:42] drfaustusfade opened #322 "AF Project Plan to Activities Plan"
AF is activities based rather than project-based.
The naming should be updated.
- [x] Project Plan -> Activity Plan (AF)
- [x] Projects -> Activity Plans (AF)

[2020-02-28 14:57] pfitzpaddy commented on #322
Thats interesting...

[2020-03-01 05:32] #164 closed

[2020-03-01 05:32] pfitzpaddy commented on #164
Merged

[2020-03-01 05:34] #265 closed, assigned to dondippino

[2020-03-01 05:34] #266 closed, assigned to dondippino

[2020-03-01 05:34] #267 closed, assigned to dondippino

[2020-03-01 05:35] #300 closed, assigned to pfitzpaddy

[2020-03-01 05:35] #293 closed, assigned to pfitzpaddy

[2020-03-01 08:33] pfitzpaddy opened #323 "Update Ethiopia report due date to 7th"
Previous month’s report should close on the 7th of next month.

[2020-03-01 08:35] pfitzpaddy opened #324 "Alert cluster ADMIN on edit report"
Partners should not be able to update by going back to that specific report after submission. If a partner is required to edit a report that has already been submitted, the cluster ADMIN should receive an email notification to alert of the edit

[2020-03-01 08:35] pfitzpaddy opened #325 "Bugfix: Submission does not save"
After saving and getting successful submission message, some partners reported that their report is still pending. They are still pending reports which we communicated with partners and they said that it is not shown on their end.

[2020-03-01 08:36] pfitzpaddy opened #326 "Bugfix: Locations on project plan are different to monthly progress report"
The locations on the project plan and on the monthly progress are different.

[2020-03-01 08:38] pfitzpaddy opened #327 "Notification of ReportHub updates"
Identify method to update cluster admins, partners and users of changes.

[2020-03-01 08:38] pfitzpaddy opened #328 "Bugfix: Unable to select implementation Partner in monthly progress report"
Implementing partner on the project plan can’t be selected separately in monthly progress report

[2020-03-01 08:39] pfitzpaddy opened #329 "Feature: Distribution Status"
- [ ] Add Status of distribution - Ongoing, planned and complete.

[2020-03-01 08:41] pfitzpaddy opened #330 "Update ReportHub to latest admin boundaries (CODs with Pcodes)"
Update ReportHub to latest admin boundaries (CODs with Pcodes)

[2020-03-01 08:41] pfitzpaddy opened #331 "Vulnerable Populations for Protection"

[2020-03-01 08:42] pfitzpaddy opened #332 "Bugfix: Adding location"
Errors in cascading locations – For example if we enter data for 3 “Woreda” in Oromia region, Reporthub automatically puts Oromia for a Woreda in Somali region.

[2020-03-01 08:43] pfitzpaddy opened #333 "Bugfix: Completing monthly report"
Unknown error report – After completing data entry, an error message appears.

[2020-03-01 08:44] pfitzpaddy opened #334 "Bugfix: Freezing panels"
Freezing panels – The panels/tools for data entry completely freezes unable to edit or save. This error is mainly when starting a new project. Sometimes one can edit but can’t save.

[2020-03-01 08:45] pfitzpaddy opened #335 "Bugfix: Unable to save empty report"
It sometimes rejects to save zero reports.

[2020-03-01 08:46] pfitzpaddy opened #336 "Bugfix: Do not send notifications to reports already submitted"
It keeps on sending notification emails for the months the partner has already submitted a report.

[2020-03-01 08:47] pfitzpaddy opened #337 "Feature: Enable Stocks module for Ethiopia"
Partners want to use Stock and pipeline module

[2020-03-01 08:54] drfaustusfade commented on #337
currently in works and to be updated today/tomorrow https://github.com/pfitzpaddy/ngm-reportDesk/issues/247

[2020-03-01 09:10] drfaustusfade commented on #336
there is some mismatch between report_status of reports and locations, as there is a check for locations users
[code]
could be somewhere problem on location repor_status not overwritten

[2020-03-01 09:13] drfaustusfade commented on #328
as for now, implementing partner selection on monthly progress only for AF

[2020-03-01 12:56] pfitzpaddy commented on #330
https://data.humdata.org/dataset/ethiopia-cod-ab

[2020-03-01 13:17] pfitzpaddy opened #338 "Review add location in monthly progress report"
Has been troublesome in the past

[2020-03-01 17:33] drfaustusfade commented on #247
https://github.com/pfitzpaddy/ngm-reportEngine/pull/169
https://github.com/pfitzpaddy/ngm-reportHub/pull/367

[2020-03-01 17:35] drfaustusfade commented on #247
- [x] updated be / fe
- [x] update db to match updates
- [x] basic tests
- [x] end to end tests
- [x] some ui updates

[2020-03-02 02:03] fakhrihawari commented on #322
<img width="642" alt="Screen Shot 2020-03-02 at 09 02 46" src="https://user-images.githubusercontent.com/12655589/75639686-a00e5400-5c64-11ea-8749-0b37507a8f26.png">
this one too right?

[2020-03-02 04:06] fakhrihawari commented on #338
I hope this will solve the problem :
https://github.com/pfitzpaddy/ngm-reportHub/pull/368

[2020-03-02 05:00] pfitzpaddy commented on #338
Thanks, thats a good start. I will make some minor tweaks to this.

[2020-03-02 05:32] fakhrihawari commented on #322
Link PR:
https://github.com/pfitzpaddy/ngm-reportHub/pull/369

[2020-03-03 03:23] pfitzpaddy opened #339 "Activities: Update activities / indicators to HRP 2020"
Activity/Description/SO

ESNFI In-Kind
- 2.1.1 Number of displacement affected population receiving emergency shelter and NFI assistance
- SO2

ESNFI in Cash
- 2.1.1 Number of displacement affected population receiving emergency shelter and NFI assistance
- SO2

ESNFI mixed (Cash + In-Kind)
- 2.1.1 Number of displacement affected population receiving emergency shelter and NFI assistance
- SO2

Par

[2020-03-03 03:24] pfitzpaddy opened #340 "Beneficiaries: Age groups to HRP breakdowns"
Colombia / Nigeria normalisation of age groups (i.e. 13-17)

[2020-03-03 03:53] pfitzpaddy commented on #330
Remove "Other" from UI

[2020-03-05 07:03] drfaustusfade commented on #321
document upload hidden scrollbar on close fix https://github.com/pfitzpaddy/ngm-reportHub/pull/373

[2020-03-05 07:06] drfaustusfade commented on #321
- [ ] bug materializecss tooltips break page scrollHeight

[2020-03-05 07:51] drfaustusfade opened #341 "USER rights"
Currently, regular Users cannot edit projects of other clusters, which is confusing for partners and brings back a lot of questions, as a proposal to allow edit of other cluster projects, or add another type like user per cluster

[2020-03-05 08:23] pfitzpaddy commented on #341
It makes sense to open up the rights to enable a user to edit all projects within their org (across each cluster)

[2020-03-05 08:36] fakhrihawari commented on #321
after click download button?

[2020-03-05 08:39] drfaustusfade commented on #321
On project or report pages, hovering on buttons with materialize tooltips, and then, next page will be of that height

[2020-03-05 08:44] fakhrihawari commented on #321
* [x]  after download page freeze

[2020-03-05 13:31] drfaustusfade commented on #341
https://github.com/pfitzpaddy/ngm-reportHub/pull/375

[2020-03-05 13:32] drfaustusfade commented on #321
removing hanging tooltips from dom on location change https://github.com/pfitzpaddy/ngm-reportHub/pull/374

[2020-03-05 15:29] pfitzpaddy commented on #329
**Note**: status is automatically updated by date.

Can be a badge (like the admin badge), `planned,` `ongoing`, `completed`
<img width="818" alt="Screen Shot 2020-03-05 at 9 28 54 pm" src="https://user-images.githubusercontent.com/1784705/75996652-5fdef800-5f28-11ea-861b-a278964ae953.png">

[2020-03-06 06:54] pfitzpaddy commented on #330
Ethiopia CODs updated in ReportHub. 'Other' option for admin3 removed.

[2020-03-06 06:54] #330 closed, assigned to pfitzpaddy

[2020-03-08 19:11] drfaustusfade opened #342 "AF Disability SADD"
There is a requirement for this year in AF to have population disaggregated by disability.
As disabled bgmw fields would be the same as bgmw, former bgmw fields can be controlled with the same config for bgmw but conditional per country; as alternative categories could be added to the delivery type
boys_disabled Disabled Boys
girls_disabled Disabled Girls
men_disabled Disabled Men
women_disabled D

[2020-03-09 10:20] fakhrihawari commented on #342
Link PR:
https://github.com/pfitzpaddy/ngm-reportEngine/pull/172
https://github.com/pfitzpaddy/ngm-reportHub/pull/378

[2020-03-10 10:56] pfitzpaddy commented on #342
I would prefer if we do not add additional columns for disabled. We should add them as;
- delivery type "New Beneficiaries, New Beneficiaries (Disabled), etc)
- or by using the `beneficiary_category_type_id` that was introduced for Colombia.

The only issue for using `beneficiary_category_type_id` is how to make a "woke" term for not disabled.... "Disabled" and "Not Disabled"? Another long shot is

[2020-03-10 11:59] drfaustusfade commented on #342
1 _I would prefer if we do not add additional columns for disabled._ Agree, the general notion is to put more prominence on the disabled group, as highlighted for 2020 HRP

2 _New Beneficiaries, New Beneficiaries (Disabled)_ is exactly what we consider as an alternative option

3 _Another long shot is to use `activity_type_detail`, might not be practical._ That's the issue as all activities should

[2020-03-10 12:01] drfaustusfade commented on #342
@fakhrihawari Please proceed with 4 point
- [x] update beneficiary_category_type_id functionality for AF as per 4 point

[2020-03-10 12:21] pfitzpaddy commented on #329
This is now updated. Please note that `activity_start_date`, `activity_end_date` & `activity_status` refer to distribution start / end dates and distribution status. This is to capture more activities than just distributions (such as infrastructure assessments and construction activities for DRR).
<img width="833" alt="rh_distribution_status" src="https://user-images.githubusercontent.com/1784705/

[2020-03-10 12:21] #329 closed, assigned to pfitzpaddy

[2020-03-10 14:57] pfitzpaddy commented on #340
I have update the labels to HRP age categories (commit https://github.com/pfitzpaddy/ngm-reportHub/commit/56d5e15839740ac4592636311bc36200f5d4b8de). In the database, the same columns will be used as follows;
- boys: boys (0 to 17)
- girls: girls (0 to 17)
- men: men (18 to 59)
- women: women (18 to 59)
- elderly men: elderly men (60+)
- elderly women: elderly women (60+)

<img width="840" alt="rh_

[2020-03-10 14:57] #340 closed, assigned to pfitzpaddy

[2020-03-10 15:21] pfitzpaddy commented on #323
db update
[code]

[2020-03-10 16:35] pfitzpaddy commented on #323
ET now updated as follows (including db updates);
- due soon email is sent: 5th of following month,
- report is due: 7th of following month,
- pending email is sent: 10th of the following month,

[2020-03-10 16:35] #323 closed, assigned to pfitzpaddy

[2020-03-11 05:01] fakhrihawari commented on #342
Link PR :
https://github.com/pfitzpaddy/ngm-reportHub/pull/379

[2020-03-11 06:26] pfitzpaddy commented on #324
This is currently enabled for ET only (line of code to update for other countries is [here](https://github.com/pfitzpaddy/ngm-reportEngine/commit/a3d9ae1b272510be78f9a69e599fa0f08e37ef9e#diff-928aa6d0f801a4f5161417423b0288d3R596))

[2020-03-11 06:26] #324 closed, assigned to pfitzpaddy

[2020-03-11 06:30] pfitzpaddy commented on #342
Merged

[2020-03-11 06:30] #342 closed, assigned to fakhrihawari, drfaustusfade

[2020-03-11 08:35] pfitzpaddy commented on #338
Improvement - beneficiaries form is opened by default on "add new location"
<img width="864" alt="et_esnfi_add_location" src="https://user-images.githubusercontent.com/1784705/76397496-bd05fe00-63ad-11ea-9b90-d3ff5695c9ac.png">

[2020-03-11 08:35] #338 closed, assigned to pfitzpaddy

[2020-03-11 08:37] pfitzpaddy commented on #335
I am unable to re-create this. I believe with the other updates this has been resolved. It is also possible that the form was not complete when partners where trying to save

[2020-03-11 08:37] #335 closed, assigned to pfitzpaddy

[2020-03-11 08:38] pfitzpaddy commented on #334
There has been an update to fix this, if the problem persists please let me know

[2020-03-11 08:38] #334 closed, assigned to pfitzpaddy

[2020-03-11 08:38] pfitzpaddy commented on #333
I am unable to re-create this. I believe with the other updates this has been resolved. It is also possible that the form was not complete when partners where trying to save

[2020-03-11 08:38] #333 closed, assigned to pfitzpaddy

[2020-03-11 08:39] pfitzpaddy commented on #336
This has been resolved

[2020-03-11 08:39] #336 closed, assigned to pfitzpaddy

[2020-03-11 08:39] pfitzpaddy commented on #325
This has been resolved

[2020-03-11 08:39] #325 closed, assigned to pfitzpaddy

[2020-03-11 13:29] pfitzpaddy commented on #328
This is now updated for Ethiopia
![rh_implementing_partner](https://user-images.githubusercontent.com/1784705/76421741-b8097480-63d6-11ea-8ec5-2f10814b0671.png)

[2020-03-11 13:29] #328 closed, assigned to pfitzpaddy

[2020-03-12 01:47] pfitzpaddy commented on #331
Not DTM but the HRP 2020. And we have a list of vulnerability profile which is approved by protection cluster to be included on the ReportHub.  (Person with physically or mentally disability and/or chronic illness, Female Headed HH, Child Headed HH, Separated child in need of shelter, children at risk in need of shelter, women at risk, older person Headed HH, single parent, Large Family) and the s

[2020-03-12 07:47] pfitzpaddy commented on #339
Adding the new activity types to active ET projects
[code]
Adding the new activity types to all projects
[code]

[2020-03-12 15:19] pfitzpaddy commented on #339
@drfaustusfade, @fakhrihawari, I have made a temporary workaround for new lists in this [commit](https://github.com/pfitzpaddy/ngm-reportHub/commit/f49cec20fb3d55f37287f9eb7c5e277807ffc6f1)
1. I have included the attribute `active` in the activities.csv
2. As a workaround for existing projects for ET, I have added the new activity types required for 2020 and set `disabled` tag in the existing `pro

[2020-03-12 15:19] #339 closed, assigned to pfitzpaddy

[2020-03-12 15:23] pfitzpaddy commented on #331
Update beneficiary types to the following;
- IDPs
- Conflict IDPs
- Drought IDPs
- Flood IDPs
- Other IDPs
- Returnee Home
- Returnee not home
- Host Community

[2020-03-12 15:57] pfitzpaddy commented on #327
Will need some form of newsletter / announcement feature.

[2020-03-12 15:57] #327 closed, assigned to pfitzpaddy

[2020-03-12 17:10] pfitzpaddy commented on #332
Updating `site_id` to string
[code]

[2020-03-12 17:22] pfitzpaddy commented on #332
Make indexes on getAdminSites
[code]

[2020-03-12 17:25] pfitzpaddy commented on #326
This should now be fixed

[2020-03-12 17:25] #326 closed, assigned to pfitzpaddy

[2020-03-12 17:32] pfitzpaddy commented on #332
Adding a location is now updated to fresh new look, also fixing errors
<img width="788" alt="rh_et_add_new" src="https://user-images.githubusercontent.com/1784705/76548532-74d80000-64c1-11ea-997c-0874ff8c92fa.png">

[2020-03-12 17:32] #332 closed, assigned to pfitzpaddy

[2020-03-12 17:36] pfitzpaddy commented on #332
Adding indexes for all admin levels
[code]

[2020-03-12 19:44] pfitzpaddy commented on #339
Scrap that last comment (horrible idea), I have [removed](https://github.com/pfitzpaddy/ngm-reportHub/commit/c29cf4cf0fc94b087a78cd687b7dd5c0a548ce5d#diff-c2fc9418b4f49a57a19c744fdcf66f06L227) the duplicate select html templates from the commit above, now there is just custom filters [here](https://github.com/pfitzpaddy/ngm-reportHub/commit/c29cf4cf0fc94b087a78cd687b7dd5c0a548ce5d#diff-d259b9272c2

[2020-03-13 06:20] pfitzpaddy commented on #331
Update completed
- [x] Update beneficiary types
- [x] Add ability to report on disabled populations

To report, add one card for general population and 1 card to capture disabled population,
<img width="778" alt="rh_et_categories" src="https://user-images.githubusercontent.com/1784705/76594931-fadd6080-652c-11ea-896f-6aabf998133a.png">

[2020-03-13 06:20] #331 closed, assigned to pfitzpaddy

[2020-03-13 06:24] pfitzpaddy commented on #331
The vulnerable profiles listed below are not suitable for HPC reporting in ReportHub. Within the HRP, Population with disabled is required and can now be capture. I assume that Protection has Assessment / Monitoring tools to identify vulnerable households listed below in detail.

Categories
- Female Headed HH
- Child Headed HH
- Older Person
- Single Parent
- Large Family
- Child in need of Shelte

[2020-03-13 07:28] pfitzpaddy commented on #337
This is now fixed for ET. I have also updates color scheme!
![ReportHub_stocks](https://user-images.githubusercontent.com/1784705/76599046-b48cff00-6536-11ea-8f46-5179168088eb.png)

[2020-03-13 07:32] #337 closed, assigned to pfitzpaddy

[2020-03-13 09:14] pfitzpaddy commented on #331
Updated
<img width="781" alt="rh_et_details" src="https://user-images.githubusercontent.com/1784705/76606789-7ba85680-6545-11ea-8e10-b9257be095a3.png">

[2020-03-16 14:11] pfitzpaddy opened #343 "My name is your name download"
A simple download in Excel format is required that matches the ISCG download. The Excel template will be used for this.
- [x] Add Exel template to repo
- [x] Format data to Excel template and write to new template
- [x] Add Excel download
- [x] Add clear folder bash script to clean up folder drive at midnight

[2020-03-17 08:38] pfitzpaddy commented on #343
https://github.com/pfitzpaddy/ngm-reportEngine/commit/a11040f0f59ae925cdb4b3dab745789e0b1a45ba

[2020-03-17 08:38] #343 closed, assigned to pfitzpaddy

[2020-03-18 16:34] pfitzpaddy commented on #183
Merged

[2020-03-18 16:34] #183 closed

[2020-03-19 03:33] pfitzpaddy opened #344 "Include Vulnerable Populations Breakdown in Monthly Report"
Vulnerable populations has been included in the details section. This is not intuitive. For vulnerable populations;
1. Remove vulnerable populations from details in activities.csv
2. Include as new column vulnerable_populations in activities.csv as JSON
3. Include vulnerable_populations as new option in database models
4. Include new html template below beneficiary type (and above households / pop

[2020-03-19 03:48] pfitzpaddy opened #345 "Kits / Partial Kits - Remove Units"
No need to ask users for "Units" as numbers of kits

[2020-03-19 03:52] pfitzpaddy opened #346 "Add names of Kits / Partial Kits with Contents"
To include specific kits of partners so that they can specify what they are distributing. The partial kits will include the kit contents in the activities.csv.
1. Include kit details as details in activities.csv
2. Hide details when kits are selected

[2020-03-19 04:32] pfitzpaddy opened #347 "Update Cash to Match AFG"
Cash distribution should be recorded the same way as in AFG - but there is no need for modality, only;
1. Remove cash from details in activities.csv
2. Add (Units, Value, Transfers)

[2020-03-19 04:48] pfitzpaddy opened #348 "Update Stocks to Match Excel Template"
Update lists of stock items and review

[2020-03-19 04:48] pfitzpaddy commented on #348
[Stocks_Pipeline_ESNFI_New Template 2020.xlsx](https://github.com/pfitzpaddy/ngm-reportDesk/files/4352696/Stocks_Pipeline_ESNFI_New.Template.2020.xlsx)

[2020-03-19 06:17] pfitzpaddy opened #349 "Add Validation for Vulnerable Popns & HHs"
Validation is required as follows;
1. Vulnerable populations should be less then total HHs or total_beneficiaries
2. Beneficiaries should be more then HHs

[2020-03-19 07:59] pfitzpaddy opened #350 "Separate activities.csv into countries"
Currently all activities are in one big file. It would be better if they were split by country to support the update and management. i.e.
1. Make folder with activities split by country on Google Drive  (i.e. ngm > lists > activities > activities_af.csv, activities_et.csv, etc)
2. On edit / update, create a Google script that merges all activities_xx.csv into the one activities.csv file that can b

[2020-03-19 09:03] pfitzpaddy opened #351 "Update Downloads to Include Vulnerable Populations"
Include vulnerable populations as;
1. in beneficiaries.csv
2. As an individual download
3. As columns....

[2020-03-20 03:56] pfitzpaddy commented on #346
Here are the list of Partial Kits that where used previously;
- Kitchen Set ( Partial Kit )
- UNHCR Kit
- ICRC Kit
- IOM Kit
- Shelter Box Kit
- Goal Kit

[2020-03-20 03:57] pfitzpaddy commented on #347
Updated

[2020-03-20 03:57] #347 closed, assigned to pfitzpaddy

[2020-03-20 03:57] pfitzpaddy commented on #345
Udpated

[2020-03-20 03:57] #345 closed, assigned to pfitzpaddy

[2020-03-20 13:50] pfitzpaddy commented on #344
Updated on DEV and PROD

[2020-03-20 13:50] #344 closed, assigned to pfitzpaddy

[2020-03-24 03:35] fakhrihawari commented on #350
Link Script:
https://script.google.com/a/immap.org/d/17ghgxW9HEVFYB5oZ8A7HjxJWN8QmnCO3n7ylM1TWd7VJKT3bIGfHedRO/edit

after file merge it will save in this folder
https://drive.google.com/drive/u/2/folders/11-XTw8-bHfFIrlyQO_wnsyEPUD_TitN5

[2020-03-25 11:00] drfaustusfade opened #352 "Update processing of activities lists by multikey"
filtering for lists by multiple keys ( type, description, detail ), as for example details could repeat for different description or type
- update filter duplicates
- set inputs
- display form

[2020-03-25 11:04] drfaustusfade commented on #352
https://github.com/pfitzpaddy/ngm-reportHub/pull/391

[2020-03-25 11:09] drfaustusfade commented on #321
fix modals on dashboard framework https://github.com/pfitzpaddy/ngm-dashboard-framework/pull/5

[2020-04-01 13:22] dondippino opened #353 "Add new organization (GLOBAL VILLAGE HEALTHCARE INITIATIVE FOR AFRICA) to ReportHub"
A new organization called Global Village Healthcare initiative for Africa (GHIV AFRICA) has been submitted by the WASH sector Nigeria to be added to ReportHub. I have already added this organization to the organizations.csv file. Please help update the database with this new record.

[2020-04-01 15:37] drfaustusfade commented on #353
updated

[2020-04-01 15:37] #353 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2020-04-05 09:59] pfitzpaddy opened #354 "Downloads Mouseover Issue"
The mouse hover is not displaying.
![Screen Shot 2020-04-05 at 4 56 34 pm](https://user-images.githubusercontent.com/1784705/78471889-c1c89280-775e-11ea-82a7-c4f132b37ed5.png)

[2020-04-05 10:01] drfaustusfade commented on #354
https://github.com/pfitzpaddy/ngm-dashboard-framework/pull/6

[2020-04-06 00:48] fakhrihawari commented on #354
Is it solved?

[2020-04-06 17:45] drfaustusfade commented on #354
looks ok

[2020-04-06 17:45] #354 closed, assigned to fakhrihawari

[2020-04-07 13:37] drfaustusfade opened #355 "Beneficiaries without id duplication"
beneficiaries without id are duplicated when on form save button is clicked again before an updated report is returned, most often happens with users on massive reports and slow connection

[2020-04-07 13:40] drfaustusfade commented on #355
https://github.com/pfitzpaddy/ngm-reportHub/pull/398

[2020-04-08 10:40] dondippino opened #356 "Multiple reported activities on the monthly reporting page"
There is a bug on the Monthly reporting page of ReportHub, (probably from a recent push). The numbers of reported activities seems to have multiple appearances on the Actual Monthly progress page.
See link for clarity:
https://reporthub.org/desk/#/cluster/projects/report/5cab1ded25182bc37fe5d8bc/5e5b17233aa441270ea8d6c9

![image](https://user-images.githubusercontent.com/5681166/78775167-ac857b00-

[2020-04-08 10:49] drfaustusfade commented on #356
there was duplication issue on using inform save again before records are saved with no id records https://github.com/pfitzpaddy/ngm-reportDesk/issues/355, fixed yesterday

[2020-04-08 10:56] dondippino commented on #356
Should the report be saved again to rectify the error?

[2020-04-08 10:57] drfaustusfade commented on #356
duplicates should be cleaned up by deleting from the report

[2020-04-08 11:06] dondippino commented on #356
Okay thank you

[2020-04-08 17:06] drfaustusfade commented on #355
Script to find duplicates in a report (assuming records could not be exactly the same)
[code]

[2020-04-08 17:07] drfaustusfade commented on #356
Script to find duplicates in a report (assuming records could not be exactly the same)

[code]

[2020-04-08 17:17] drfaustusfade commented on #356
@dondippino please check above script if it works for your data, as an alternative of removing from db directly if needed

[2020-04-10 16:28] drfaustusfade opened #357 "Download project lists reference data for report upload"

[2020-04-10 16:29] drfaustusfade commented on #357
https://github.com/pfitzpaddy/ngm-reportHub/pull/399
https://github.com/pfitzpaddy/ngm-dashboard-framework/pull/7
https://github.com/pfitzpaddy/ngm-reportEngine/pull/179

[2020-04-10 16:30] drfaustusfade commented on #285
satellite feature https://github.com/pfitzpaddy/ngm-reportDesk/issues/357

[2020-04-10 16:52] drfaustusfade commented on #285
For upcomming open beta version
Basic test cases:
for xlsx, csv, textarea input:
1. it should input by _named fields; template fields as per monthly report download, required columns to be present are so that to match location and activity, and activity required columns
2  it should match and add record by ( admin1,2,3names, sitename, sitetypename, implementationname ) and activity (cluster, type,

[2020-04-14 00:00] fakhrihawari commented on #285
Link Pull Request :
https://github.com/pfitzpaddy/ngm-reportHub/pull/400

[2020-04-14 14:38] drfaustusfade opened #358 "Project save: on complete set all reports to complete"
So that no pending reports hanging

[2020-04-14 14:44] drfaustusfade commented on #358
https://github.com/pfitzpaddy/ngm-reportEngine/pull/180

[2020-04-17 09:51] drfaustusfade commented on #348
be https://github.com/pfitzpaddy/ngm-reportEngine/pull/181

[2020-04-17 09:53] fakhrihawari commented on #348
fe : https://github.com/pfitzpaddy/ngm-reportHub/pull/401

[2020-04-17 09:56] pfitzpaddy commented on #348
Merged, with thanks

[2020-04-17 09:56] #348 closed, assigned to pfitzpaddy

[2020-04-20 06:19] drfaustusfade opened #359 "Covid19 reporting support"
wash cluster af requested in addition to the addition of covid19 activities to add on project and on monthly progress reporting option to specify if an activity is done in response to covid19:
- on project project_details section can be added for additional yes/no project details which could be configured by country (for af factoring out acbar partner option), being array attribute on model
- for

[2020-04-20 08:29] pfitzpaddy commented on #359
In CXB we where going to add COVID19 activities to the activity list, as the COVID19 response activities are a little general.

For AFG, It might be possible to add a 3rd tier of activities i.e. "COVID19 Response", "Routine Activities"? I think the idea to fit it into the current form is a good one, but if all else fails an additional checkbox or so wouldnt be the end of the world either.

[2020-04-20 12:08] dondippino opened #360 "DTM round 30 update for ReportHub - Nigeria"
Please help update ReportHub with DTM round 30 data. The csv file and script will be shared via skype.

[2020-04-20 16:41] pfitzpaddy commented on #346
Updated on DEV and PROD

[2020-04-20 16:41] #346 closed, assigned to pfitzpaddy

[2020-04-20 18:46] #360 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2020-04-20 19:31] drfaustusfade commented on #359
3rd tier might fit best for the time being
abstracting from this specific case, to cover requests of such cases with _activity_meta_ information, I am wondering if configurable checkbox fieldset to add prominence or yet another one line multiselect be of value

[2020-04-21 09:50] fakhrihawari commented on #359
Link PR for covid19 reporting in Project Detail :
https://github.com/pfitzpaddy/ngm-reportHub/pull/403
https://github.com/pfitzpaddy/ngm-reportEngine/pull/182

<img width="1668" alt="Screen Shot 2020-04-21 at 16 56 39" src="https://user-images.githubusercontent.com/12655589/79852672-28051480-83f1-11ea-91e2-e2f0aa552690.png">

[2020-04-27 19:12] dondippino opened #361 "Update of activities in Education sector - Nigeria on COVID19 response"
The Education sector in Nigeria has requested that we update ReportHub, with the new activities for COVID19 response.
The csv comprising the new activities have been prepared and added to activities,csv grid online. Kindly help to update the platform with this new data. The CSV file will also be shared with you via Skype.

Best regards

[2020-04-27 19:22] drfaustusfade commented on #361
updated

[2020-04-27 19:22] #361 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2020-04-30 06:58] drfaustusfade opened #362 "Activities dates configuration"
adding support for filtering activities by start_date, end_date by reporting period (project dates, report dates) in addition to active
- activities configuration fields start_date, end_date in the format "YYYY-MM-DD"

[2020-04-30 06:58] drfaustusfade commented on #362
https://github.com/pfitzpaddy/ngm-reportHub/pull/412

[2020-04-30 07:10] drfaustusfade commented on #362
additionally, plan tag could be used to fetch/filter only plan related activities, plan might be selected on the project, that could be an option on developing UI activities lists configuration
todo also would be to fetch by default activities relevant to the current year period and fetch historical activities when needed

[2020-05-13 16:43] drfaustusfade opened #363 "stock indexes updates"
// get report
db.getCollection('stock').createIndex({ report_id: 1 });
db.getCollection('stocklocation').createIndex({ report_id: 1 });

// list reports
db.getCollection('stockreport').createIndex({ organization_id: 1, report_active: 1, report_status: 1, report_year: 1 });
db.getCollection('stock').createIndex({ organization_id: 1, report_active: 1, report_status: 1, report_year: 1 });

// warehou

[2020-05-13 17:08] drfaustusfade opened #364 "May 2020 activity reports duplication"
some May reports 2020 are duplicated
it could be that setReportsToDo run twice close in time, so that second find report query would not find and proceed to report creation

[code]

[2020-05-14 06:12] pfitzpaddy opened #365 "Disable 'response' inputs on completed reports"
Currently it is possible to edit the 'response' after a report has been submitted. We need a small update to disable the input if the project is complete / report is completed.
![reporthub_covid19_response](https://user-images.githubusercontent.com/1784705/81898052-1bd03980-95e2-11ea-9da9-cb5d41ac70e5.png)

[2020-05-14 07:55] fakhrihawari commented on #365
PR: https://github.com/pfitzpaddy/ngm-reportHub/pull/427

[2020-05-14 07:57] pfitzpaddy commented on #365
Merged

[2020-05-14 07:57] #365 closed, assigned to fakhrihawari

[2020-05-14 13:19] #364 closed, assigned to nobody

[2020-05-14 13:19] #363 closed, assigned to nobody

[2020-05-14 13:21] drfaustusfade commented on #359
https://github.com/pfitzpaddy/ngm-reportHub/pull/427

[2020-05-14 13:21] #359 closed, assigned to nobody

[2020-05-14 13:22] #358 closed, assigned to nobody

[2020-05-14 13:22] #357 closed, assigned to drfaustusfade

[2020-05-14 13:24] #352 closed, assigned to drfaustusfade

[2020-05-14 13:24] #341 closed, assigned to nobody

[2020-05-14 13:24] #322 closed, assigned to fakhrihawari, drfaustusfade

[2020-05-14 13:25] #321 closed, assigned to fakhrihawari, drfaustusfade

[2020-05-14 13:26] #318 closed, assigned to fakhrihawari, drfaustusfade

[2020-05-14 13:27] #310 closed, assigned to fakhrihawari, drfaustusfade

[2020-05-14 13:28] #311 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2020-05-14 13:30] #296 closed, assigned to drfaustusfade

[2020-05-14 13:30] #317 closed, assigned to fakhrihawari, drfaustusfade

[2020-05-14 13:31] #280 closed, assigned to drfaustusfade

[2020-05-14 13:31] #247 closed, assigned to nobody

[2020-05-14 13:32] #239 closed, assigned to pfitzpaddy

[2020-05-14 13:33] #218 closed, assigned to pfitzpaddy, fakhrihawari, drfaustusfade

[2020-05-14 13:33] #362 closed, assigned to nobody

[2020-05-14 13:35] #355 closed, assigned to drfaustusfade

[2020-05-14 13:35] #319 closed, assigned to fakhrihawari, drfaustusfade

[2020-05-14 13:36] #287 closed, assigned to nobody

[2020-05-14 13:36] #285 closed, assigned to fakhrihawari, drfaustusfade

[2020-05-14 13:47] drfaustusfade commented on #210
https://github.com/pfitzpaddy/ngm-reportEngine/pull/103

[2020-05-14 13:47] #210 closed

[2020-05-14 16:55] drfaustusfade opened #366 "Enabling AF Location Groupings"
Based on 2020 reporting, estimation is that around 10 percent :monocle_face: of reports would benefit from that feature

[2020-05-14 16:56] drfaustusfade opened #367 "AF cash mpc transfer and grant type fields"
Additional inputs can be developed (tentative) to complete mpc fieldset:
1 mpc_transfer_type household/individual: some organizations provide per individual, so that amount per household could vary, as a workaround is to put the average amount per household (avg amount times individuals divided by the sum of households)
2 mpc_grant_type as Conditions/Restrictions: to explicitly track the type of c

[2020-05-14 17:01] pfitzpaddy commented on #366
Originally the concept was to enable the user to dynamically add a list of groups and then assign a group to a location. In the monthly report, that group would then be rendered as a card. Currently it’s automatically grouped by admin2 if I’m not mistaken.

[2020-05-14 17:02] pfitzpaddy commented on #366
One idea is to add a location group as a card and then add locations within that card when adding projects within the project details

[2020-05-14 18:04] drfaustusfade commented on #366
that will be nice functionality; having group card will look nice, but if a change of location group is needed they will need to delete/add location, save we have drag and drop between groups,
also, grouping by admin1,2 will be easy for common users, and custom grouping for advanced ones

[2020-05-14 18:31] pfitzpaddy commented on #366
Agreed. Grouping by admin1 or admin2 is a good / easier start. Step 2 might look at adding a location group card, which enables the location group title to be updated, and, the location can be assigned to different locations groups via a simple drop down. At all times at least one default location group card would be required in this custom approache. Step 3 could be direct drag and drop. The easi

[2020-05-20 10:48] drfaustusfade opened #368 "Import functionality"
Currently covered imports:
monthly report: xlsx, csv, copy past
entire project: xlsx
target beneficiaries: xlsx, copy past, todo csv
target locations: xlsx, copy past, todo csv
warehouses: xlsx, csv, copy past
stock reports: xlsx, csv, copy past
\+ additionally copy project

Template for import as per project, report, warehouses, stock report downloads with named fields, and values from lists down

[2020-05-20 10:55] pfitzpaddy commented on #368
Could Lawrence help with the Flyer? Who else in iMMAP can support this? A set of tutorial videos could easily be placed on the landing page, i.e. Tutorials section and FAQs section. There is also the technical paper that we could put online.
[ReportHub Technical Document - Decision Support in Real-Time.pdf](https://github.com/pfitzpaddy/ngm-reportDesk/files/4656317/ReportHub.Technical.Document.-.D

[2020-05-20 11:07] drfaustusfade commented on #368
We have com officer, also we are going to update all videos
I was thinking to set up a separate page to put different resources

[2020-05-20 11:19] pfitzpaddy commented on #368
Ok, lets touch base on that that. It would be good to have the landing page with  all these resources and then the app accessible too, like all the products out there. Open to a redesign.

[2020-05-21 13:42] dondippino opened #369 "Add new organization (SALIENT HUMANITARIAN ORGANISATION) to ReportHub"
A new organization called SALIENT HUMANITARIAN ORGANISATION (SHO) has been submitted by the WASH sector Nigeria to be added to ReportHub. I have already added this organization to the organizations.csv file. Please help update the database with this new record.

[2020-05-21 13:48] drfaustusfade commented on #369
updated

[2020-05-21 13:48] #369 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2020-06-04 07:44] drfaustusfade opened #370 "Organizations List Admin Panel"
Subtask for https://github.com/pfitzpaddy/ngm-reportDesk/issues/131
Implemented in:
https://github.com/pfitzpaddy/ngm-reportHub/pull/435
https://github.com/pfitzpaddy/ngm-reportHub/pull/436
https://github.com/pfitzpaddy/ngm-reportHub/pull/437

possible configurations:
international: admin0pcode ALL admin0pcode_inactive ""
international: admin0pcode ALL admin0pcode_inactive AF,CB
international: adm

[2020-06-11 19:23] dondippino opened #371 "GBV Sub Sector Nigeria roll-out implementation and addition of new age groups"
The following changes are proposed:
https://github.com/pfitzpaddy/ngm-reportHub/pull/440
https://github.com/pfitzpaddy/ngm-reportEngine/pull/198

These changes are simply to enable CPSS, GBVSS Nigeria and  any other sector to make use of 'sector specific' age-groups which are: boys_0_12, boys_6_12 boys_13_17 and so on.

Changes were made on ngm-reportHub to allow reporting via the sector-specific

[2020-06-12 02:03] pfitzpaddy commented on #371
Merged

[2020-06-12 02:03] #371 closed, assigned to pfitzpaddy, dondippino, drfaustusfade

[2020-06-16 03:53] fakhrihawari commented on #367
<img width="1181" alt="Screen Shot 2020-06-16 at 10 53 15" src="https://user-images.githubusercontent.com/12655589/84730157-a4fed580-afbf-11ea-9192-7fa0cbab5cd3.png">

Transfers Category(Per Individual / Per Household) => mpc_transfer_type
Grant Type => mpc_grant_type
Total Amount Transfered => total amount transferred

[2020-06-16 05:44] drfaustusfade commented on #367
perfect, some proposal notes:
- just to keep _Transfer Type_
- transfer, grant type row before units row
- total amount disabled for editing, as it is more for self-control, calculation depending on transfer category: if _individual_ then total beneficiaries is taken otherwise _households_

notes for backend:
to add on models grant_type_id, grant_type_name, transfer_category_id, transfer_category_

[2020-06-17 01:56] fakhrihawari commented on #367
<img width="1192" alt="Screen Shot 2020-06-17 at 08 55 27" src="https://user-images.githubusercontent.com/12655589/84846145-56f9d880-b078-11ea-8c69-24ae1e797262.png">
Final

[2020-06-17 05:14] fakhrihawari commented on #367
Link PR :
https://github.com/pfitzpaddy/ngm-reportHub/pull/441
https://github.com/pfitzpaddy/ngm-reportEngine/pull/199

[2020-06-17 05:58] pfitzpaddy commented on #367
Merged

[2020-06-17 05:58] #367 closed, assigned to nobody

[2020-07-06 17:29] drfaustusfade opened #372 "Contact phones update"
Let's update contact phones:
Global Phone: to update
and other countries

Also, proposal when not logged in then to show: global phone and all countries (right now just global)
When logged in: global phone and that country

[2020-07-06 17:44] drfaustusfade opened #373 "Optional Closed Registration Organization Feature"
Partners often concerned about open access to registration and their data safety.
To comply with such requests and to shift that responsibility on partners, the proposal is to add optional closed registration for willing organizations, but in general, being open registration system
It can be easily implemented, with additional organization flag, sending an email with an activation link to organiza

[2020-07-07 01:28] pfitzpaddy commented on #373
Funny, a similar question came up yesterday with a partner in the Philippines asking about data security, I believe it was in relation to their contact details. I mentioned we were looking at the GDPR data protection policy and that the data is generally publicly available information that can be found on HDX - but that we were looking into it. For registration, if we can do a verification email w

[2020-07-07 02:01] pfitzpaddy opened #374 "Project Details Loading Time"
During a workshop / demo yesterday the Project Details took a very long time to load - around about the same time on an empty project as for an existing project. Testing today it seems fine, so im not sure if it was the internet / no. of users, etc. Anyone else noticing this? @fakhrihawari can you take a quick look and see if you can find any obvious bottlenecks on loading?

[2020-07-07 04:01] fakhrihawari commented on #374
@pfitzpaddy I try the online version but it seems fine too

[2020-07-07 07:10] fakhrihawari commented on #372
Mock up
<img width="1016" alt="Screen Shot 2020-07-07 at 14 09 15" src="https://user-images.githubusercontent.com/12655589/86733598-87bba500-c05b-11ea-89b8-1c922b418ac5.png">

[2020-07-07 07:24] drfaustusfade commented on #372
@pfitzpaddy shall we use yours as global?

[2020-07-20 08:03] drfaustusfade commented on #372
Let's update but hide temporary Global

[2020-07-20 09:53] pfitzpaddy commented on #374
Might be an issue with server load -> multiple requests at the same time...

[2020-07-20 09:53] #374 closed, assigned to pfitzpaddy, dondippino, fakhrihawari, drfaustusfade

[2020-07-20 09:55] pfitzpaddy opened #375 "Dashboard Download"
It looks as tho country / context downloads are becoming increasingly customised. I think I recall an approach improving on this. One idea would be to read the `ngmHealthCluster` - > `activities` table, by country, by cluster, to get the list of fields that should be included in each download. Thoughts?

[2020-07-20 10:03] pfitzpaddy commented on #375
The only issue with this is that historical data might not be included, although it would be easier to manage the downloads as they would be read from the form. If reading `activities` table is not a good idea might be worth a helper for the downloads...

[2020-07-22 07:54] drfaustusfade commented on #375
on pull https://github.com/pfitzpaddy/ngm-reportEngine/pull/204 fields moved to fieldsService in the same way as for report download, I think we could put it in additional fields collection in future, a plan is to have admin panel widget, to be able to configure any kind of simple lists, so that not to have bespoken for each, like django admin panel, which is also an option, but to have that inhou

[2020-07-22 09:11] pfitzpaddy commented on #375
A sort of "downloads" list / config would be really cool to have when we are building the admin lists pages....

[2020-07-28 18:30] dondippino opened #376 "Form inputs vanishing after submission, not allowing edit"
![bug_reporthub_28_07_2020](https://user-images.githubusercontent.com/5681166/88705857-014d2d00-d108-11ea-9ddb-d2e8d529b39f.gif)
The select fields in the form for WASH sector in Nigeria vanishes at submission of activities

[2020-07-29 07:56] drfaustusfade opened #377 "NGINX 1.15.12 with http2 support"
http1.1 has a limitation of browser 6 open connection
h2 protocol improve load

- update script to rebuild Nginx with 1.0.2l to support ALPN
[update_nginx_http2.zip](https://github.com/pfitzpaddy/ngm-reportDesk/files/4993373/update_nginx_http2.zip)

- default sites to support h2
https://drive.google.com/drive/folders/1IoXtbo_TOybMGh9Rvuu65EAvRcC7lyiC?usp=sharing

Updated DEV and PROD

[2020-07-29 08:02] drfaustusfade opened #378 "5W: add beneficiaries index"
to match and to considerably speed up 5w queries

[code]

also additionally for project listing ```db.project.createIndex( {  "admin0pcode": 1, "project_status": 1 } )```

Updated PROD

[2020-07-29 08:02] #377 closed, assigned to drfaustusfade

[2020-07-29 08:02] #378 closed, assigned to drfaustusfade

[2020-07-29 09:19] drfaustusfade commented on #376
materialize-select should be added on details' selects
[code]

[2020-07-29 16:32] dondippino commented on #376
I have added material-select to all selects in the WASH NG  templates
here is the PR https://github.com/pfitzpaddy/ngm-reportHub/pull/476

[2020-09-08 10:26] #376 closed, assigned to pfitzpaddy, dondippino, drfaustusfade